
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fifty Dent</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/specimen/Kumbh+Sans -->
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />  <!-- https://fontawesome.com/-->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />      <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />       <!-- https://getbootstrap.com/ -->
    <link href="~/Content/slick/slick.min.css" rel="stylesheet" />         <!-- https://kenwheeler.github.io/slick/ -->
    <link href="~/Content/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-upright.css" rel="stylesheet" />
    <!--

    TemplateMo 555 Upright

    https://templatemo.com/tm-555-upright

    -->
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Leftside bar -->
            <div id="tm-sidebar" class="tm-sidebar">
                <nav class="tm-nav">
                    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div>
                        <div class="tm-brand-box">
                            <h1 class="tm-brand">Fifty Dent</h1>
                        </div>
                        <ul id="tm-main-nav">
                            <li class="nav-item">
                                <a href="#home" class="nav-link current">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-home nav-icon"></i>
                                    Anasayfa
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#gallery" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-images nav-icon"></i>
                                    Galeri
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#about" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-user-friends nav-icon"></i>
                                    Hakkımızda
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#contact" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-envelope nav-icon"></i>
                                    İletişim
                                </a>
                            </li>
                            <!---  <li class="nav-item">
                                  <a href="https://paypal.me/templatemo" class="nav-link external" target="_parent" rel="sponsored">
                                      <div class="triangle-right"></div>
                                      <i class="fas fa-external-link-alt nav-icon"></i>
                                      External
                                  </a>
                              </li> -->
                        </ul>
                    </div>
                    <footer class="mb-3 tm-mt-100">
                        Design by: <a href="#" target="_parent" rel="sponsored">Sümeyra Kızılcaoğlu</a>
                    </footer>
                </nav>
            </div>

            @RenderBody()


            <div class="tm-section-wrap tm-copyright row">
                <div class="col-12">
                    <div class="text-right">
                        Fifty Dent Diş Kliniği | 2021
                    </div>
                </div>
            </div>
        </div> <!-- .tm-main -->
    



    


    <script src="~/Content/js/jquery-3.4.1.min.js"></script>         <!-- https://jquery.com/ -->
    <script src="~/Content/js/jquery.singlePageNav.min.js"></script><!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script src="~/Content/js/parallax/parallax.min.js"></script>   <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="~/Content/js/imagesloaded.pkgd.min.js"></script>     <!-- https://imagesloaded.desandro.com/ -->
    <script src="~/Content/js/isotope.pkgd.min.js"></script>        <!-- https://isotope.metafizzy.co/ -->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script><!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <script src="~/Content/slick/slick.min.js"></script>            <!-- https://kenwheeler.github.io/slick/ -->
    <script src="~/Content/js/templatemo-script.js"></script>
</body>
</html>
